<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h2>Albums list</h2>
  <div id="albums">
    {% for t in albums %}
    <div >
      Album
     {{t.name}}
    </div>
    <div >
      Artist
      {{t.artist}}
    </div>
    <div >
      Year: {{t.year}}
    </div >
    <div >
      Genre: {{t.genre}}
    </div>
    {% endfor %}

  </div>
<script>
var xhr = new XMLHttpRequest();
xhr.open('GET', '/albumjson');
xhr.onload = function(evt) {
if (xhr.status === 200) {
       var response = JSON.parse(xhr.responseText);
       for(var i = 0; i < response.length; i++) {
           var div = document.createElement('div');
           div.innerHTML = response[i].name + ', '+ response[i].artist + ', ' + response[i].genre;
           document.body.appendChild(div);
       }
       console.log(response);
   } else {
                       alert('Request failed.  Returned status of ' + xhr.status);
                       }
              };
xhr.send();
</script>
</body>
</html>
