<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2>Add New Album</h2>
<!-- <hr> -->
<!-- <div>
  <div>
    <label for="textInputID">Tweet</label>
    <input type="text" id="textInputID" size="140"
  </div>
  <br>
  <button id="Tweet_button">Tweet</button>
</div>

<div id="tweets">
  <div>
    <div id="tweetsData">
      {% for t in tweets %} {{t.tweet}} {{t.userName}} {{t.timeStamp}}
      {% endfor %}
    </div>
    <input type="text" id='newAlbum' name="replytext">
    <button  id='enter'>Enter</button> <br />
    <p>Result:&nbsp;<span id="result"></span></p>
  </div>
</div> -->

<script>
// AJAX posting x-www-form-urlencoded
// var button = document.getElementById('enter');
// button.onclick = function () {
//   var xhr = new XMLHttpRequest();
//   xhr.open('POST', '/insertalbum');
//   xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
//   xhr.onload = function() {
//     if (xhr.status === 200) {
//       var result = document.getElementById('result');
//       result.innerHTML = xhr.responseText;
//       var newReplyText = document.createElement('p');
//       newReplyText.innerText = tweetMessage.concat("  ",currdate);
//       var myDiv = document.getElementById('tweetsData');
//       console.log("myDiv" + myDiv);
//       myDiv.insertBefore(newReplyText, myDiv.firstChild);
//       refreshTweets();
//     } else if (xhr.status !== 200) {
//       alert('Request failed.  Returned status of ' + xhr.status);
//     }
//   };
//   var album = document.getElementById('album').value;
//   var artist = document.getElementById('artist').value;
//   var year = document.getElementById('year').value;
//   var genre = document.getElementById('genre').value;
//   var body = 'album=' + encodeURIComponent(album) +'&artist=' + encodeURIComponent(artist) + '&year=' + encodeURIComponent(year)
//   '&genre=' + encodeURIComponent(genre);
//   console.log(body);
//   xhr.send(body);
// };
</script>
</body>
</html>
